<!DOCTYPE html>
<html lang="en">
<head>
    {{>header_links}}
</head>
<body >
    <!-- navbar -->
    {{>navbar}}
    <!-- main header -->
<div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                  <!-- left side div -->
                  <div class="col-md-12 col-12 main_header_left align-items-center">
                    <img  src="images/404-errors15.webp" alt="" class="img-fluid" style="width:500px">
                    <p class="mt-4">OOPS! Page Not Found</p>
                    <a href="/"><button class="btn btn-primary">Go Back</button></a>
                </div>
            </div>        
        </div>
    </div>  
</div>
    <!-- footer code -->
  {{>footer}}

</body>
</html>