<!DOCTYPE html>
<html lang="en">
<head>
    {{>header_links}}
</head>
<body >
    <!-- navbar -->
    {{>navbar}}
    <!-- main header -->
<div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                  <!-- left side div -->
                  <div class="col-md-6 col-12 main_header_right">
                    <img src="images/about.jpg" style="height: 400px;width: 600px;" alt="" class="img-fluid">
                </div>
                    <div class="main_header_left ml-2">
                        <p>Hola Amigo</p>
                        <h2>I am a <span class="text">Full stack </span> Developer.</h1>
                    </div>
                    <!-- right side div -->
                </div>
            </div>        
        </div>
    </div>  

    <!-- footer code -->
  {{>footer}}

</body>
</html>